<!DOCTYPE html>
<html lang="ja">
<head>
	<base target="_top">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<div id="app" v-cloak>
		<v-app>
			<!-- プロパティテーブル -->
			<v-data-table
				:headers="headers"
				:items="propData"
			>
				<!-- 編集ボタン -->
				<template v-slot:item.edit="{ item }">
					<v-btn
						dark
						color="light-green"
						@click="editDialogOpen(item)"
					>編集</v-btn>
				</template>
				<!-- 編集ボタン -->

				<!-- 削除ボタン -->
				<template v-slot:item.delete="{ item }">
					<v-btn
						color="error"
						@click="confirmDeleteProp(item)"
					>削除</v-btn>
				</template>
				<!-- 削除ボタン -->

			</v-data-table>
			<!-- プロパティテーブル -->
			
			<!-- 新規登録ボタン -->
			<v-fab-transition>
				<v-btn
					color="primary"
					dark
					absolute
					bottom
					right
					fab
					style="margin-bottom: 5%;"
					@click="registerDialogOpen()"
				>
					<v-icon>mdi-plus</v-icon>
				</v-btn>
			</v-fab-transition>
			<!-- 新規登録ボタン -->
			
			<!-- 新規登録ダイアログ -->
			<v-dialog
				v-model="registerFlag"
				persistent
			>
				<v-card>
					<v-card-title>
						<span class="text-h5">API設定 新規登録</span>
					</v-card-title>
					<v-card-text>
						<v-container>
							<v-text-field
								label="KEY"
								v-model="inputKey"
								required
							></v-text-field>
							<v-text-field
								label="VALUE"
								v-model="inputValue"
								@click:append="passwordVisibleFlag = !passwordVisibleFlag"
								:append-icon="passwordVisibleFlag ? 'mdi-eye' : 'mdi-eye-off'"
								:type="passwordVisibleFlag ? 'text' : 'password'"
								required
							></v-text-field>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							dark
							color="warning"
							large
							@click="registerFlag = !registerFlag"
						>
							キャンセル
						</v-btn>
						<v-spacer></v-spacer>
						<v-btn
							dark
							color="primary"
							large
							@click="confirmRegisterProp"
						>
							　登録　
						</v-btn>
						<v-spacer></v-spacer>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<!-- 新規登録ダイアログ -->

			<!-- 編集ダイアログ -->
			<v-dialog
				v-model="editFlag"
				persistent
			>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ inputKey }}</span>
					</v-card-title>
					<v-card-text>
						<v-container>
							<v-text-field
								label="VALUE"
								v-model="inputValue"
								@click:append="passwordVisibleFlag = !passwordVisibleFlag"
								:append-icon="passwordVisibleFlag ? 'mdi-eye' : 'mdi-eye-off'"
								:type="passwordVisibleFlag ? 'text' : 'password'"
								required
							></v-text-field>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							dark
							color="warning"
							large
							@click="editFlag = !editFlag"
						>
							キャンセル
						</v-btn>
						<v-spacer></v-spacer>
						<v-btn
							dark
							color="primary"
							large
							@click="confirmEditProp"
						>
							　登録　
						</v-btn>
						<v-spacer></v-spacer>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<!-- 編集ダイアログ -->

			<!-- 確認ダイアログ -->
			<v-dialog
				v-model="confirmFlag"
				persistent
			>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ confirmTitle }}</span>
					</v-card-title>
					<v-card-text>
						<span class="text-h6">{{ confirmValue }}</span>
						<p>{{ confirmText }}</p>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							dark
							color="warning"
							large
							@click="confirmFlag = !confirmFlag"
						>
							キャンセル
						</v-btn>
						<v-spacer></v-spacer>
						<v-btn
							dark
							color="primary"
							large
							@click="confirmOk"
						>
							　OK　
						</v-btn>
						<v-spacer></v-spacer>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<!-- 確認ダイアログ -->
		</v-app>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
	let vm = '';

	vm = new Vue({
		el: '#app',
		vuetify: new Vuetify(),
		data: () => ({
			headers: [
				{ text: 'KEY', value: 'key' },
				{ text: 'VALUE', value: 'value' },
				{ text: '編集', value: 'edit', align: 'center' },
				{ text: '削除', value: 'delete', align: 'center' }
			],
			propData: [],
			registerFlag: false,
			editFlag: false,
			confirmFlag: false,
			passwordVisibleFlag: false,
			inputKey: '',
			inputValue: '',
			selectedProp: {},
			confirmTitle: '',
			confirmValue: '',
			confirmText: '',
		}),
		mounted: function() {
			google.script.run.withSuccessHandler(this.renderProps).getPropsOnClient();
		},
		methods: {
			//----------------------------------------
			// プロパティの描画
			renderProps(data) {
				const json = JSON.parse(data);
				this.propData = json;
			},
			//----------------------------------------
			// プロパティの登録
			registerDialogOpen() {
				this.inputKey = '';
				this.inputValue = '';
				this.registerFlag = !this.registerFlag;
			},
			confirmRegisterProp() {
				this.confirmTitle = `${this.inputKey}の登録`;
				this.confirmValue = this.inputValue;
				this.confirmText = '上記内容で登録しますか？';
				this.confirmFlag = !this.confirmFlag;
			},
			execRegisterProp() {
				if(this.inputKey && this.inputValue) {
					google.script.run.withSuccessHandler(this.renderProps).setPropAndRemount(this.inputKey, this.inputValue);
					this.registerFlag = !this.registerFlag;
				}
			},
			//----------------------------------------
			// プロパティの編集
			editDialogOpen(prop) {
				this.selectedProp = prop;
				this.inputKey = prop.key;
				this.inputValue = prop.value;
				this.editFlag = !this.editFlag;
			},
			confirmEditProp() {
				this.confirmTitle = `${this.inputKey}の編集`;
				this.confirmValue = this.inputValue;
				this.confirmText = '上記内容に修正しますか？';
				this.confirmFlag = !this.confirmFlag;
			},
			execEditProp(prop) {
				if(this.inputValue) {
					google.script.run.withSuccessHandler(this.renderProps).setPropAndRemount(prop.key, this.inputValue);
					this.editFlag = !this.editFlag;
				}
			},
			//----------------------------------------
			// プロパティの削除
			confirmDeleteProp(prop) {
				this.selectedProp = prop;
				this.inputKey = prop.key;
				this.inputValue = prop.value;
				this.confirmTitle = `${this.inputKey}の削除`;
				this.confirmValue = this.inputValue;
				this.confirmText = '上記内容を削除しますか？';
				this.confirmFlag = !this.confirmFlag;
			},
			execDeleteProp(prop) {
				if(this.selectedProp) {
					google.script.run.withSuccessHandler(this.renderProps).deletePropAndRemount(prop);
				}
			},
			//----------------------------------------
			// 確認ダイアログの表示
			confirmOk() {
				if(this.registerFlag) {
					this.confirmFlag = !this.confirmFlag;
					this.execRegisterProp();
				} else if(this.editFlag) {
					this.confirmFlag = !this.confirmFlag;
					this.execEditProp(this.selectedProp);
				} else {
					this.confirmFlag = !this.confirmFlag;
					this.execDeleteProp(this.selectedProp);
				}
			},
		}
	})
</script>

<style>
	.input-text {
		width: 100%;
	}
</style>
</html>